$color-bg-primary: #050816;
$color-bg-secondary: #0b1023;
$color-card: #111827;
$color-border: #1f2937;

$color-text-primary: #ffffff;
$color-text-secondary: #d1d5db;
$color-text-muted: #9ca3af;

$color-accent: #8b5cf6;
$color-accent-hover: #A38BFF;
$color-accent-secondary: #6366f1;

$font-main: "Inter", sans-serif;

$radius-sm: 10px;
$radius-md: 16px;
$radius-lg: 24px;

$shadow-card: 0 10px 30px rgba(0, 0, 0, 0.25);