.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  flex: 1;
}

@media (max-width: 768px) {
  .layout__main {
    padding: 0 1.5rem;
  }
}