.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.layout__main {
  width: 90%;
  max-width: 1400px;
  
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .layout__main {
    padding: 0 1.5rem;
    width: 80%;
  }
}