// Front-End

.icon-html {
  color: #e34f26;
}

.icon-css {
  color: #1572b6;
}

.icon-sass {
  color: #cc6699;
}

.icon-javascript {
  color: #f7df1e;
}

.icon-react {
  color: #61dafb;
}

.icon-router {
  color: #ca4245;
}

// State Management

.icon-redux {
  color: #764abc;
}

// Outils

.icon-git {
  color: #f05032;
}

.icon-github {
  color: #ffffff;
}

.icon-vscode {
  color: #007acc;
}

.icon-figma {
  color: #f24e1e;
}

.icon-eslint {
  color: #4b32c3;
}

.icon-prettier {
  color: #f7b93e;
}

// Back-End

.icon-node {
  color: #68a063;
}

.icon-express {
  color: #ffffff;
}

.icon-mongodb {
  color: #47a248;
}

.icon-api {
  color: #9b8cff;
}